<nav>
  <div class="flex justify-between items-center">
    <h1>BenAPI</h1>

    <ul class="flex items-center space-x-4">
      <li>Sign Up</li>
      <li>Requests</li>
      <li>Buy Me A Tea</li>
    </ul>
  </div>
</nav>
