<nav class="sticky top-0 bg-transparent w-full shadow-sm" style="backdrop-filter: blur(8px)">
  <div class="md:max-w-[1024px] w-11/12 mx-auto">
    <div class="flex justify-between items-center py-4 text-slate-900">
      <h1 class="md:text-3xl text-2xl font-semibold">BjnAPI</h1>

      <ul class="flex items-center space-x-4">
        <li>Sign Up</li>
        <li>Requests</li>
        <li>Buy Me A Tea</li>
      </ul>
    </div>
  </div>
</nav>
