<nav class="sticky top-0 bg-transparent w-full shadow-sm <%= color %>" style="backdrop-filter: blur(8px)">
  <div class="md:max-w-[1024px] w-11/12 mx-auto">
    <div class="flex justify-between items-center py-4">
      <a href="/" class="md:text-3xl text-2xl font-semibold">BjnAPI</a>

      <ul class="flex items-center space-x-4">
        <li>Sign Up <i class="ri-rocket-line"></i></li>
        <li><a href="/scrape">Scrape <i class="ri-weibo-line"></i></a></li>
        <li>Buy Me A Tea <i class="ri-cup-line"></i></li>
      </ul>
    </div>
  </div>
</nav>
