<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('includes/general_links') %> <%- include('includes/optional_links') %>
    <title>Home - BjnAPI</title>
  </head>
  <body>
    <style>
      @media (max-width: 768px) {
        #hero-img {
          grid-row: 1/1;
        }
      }
    </style>
    <%- include('includes/navbar', { color: 'text-slate-900' }) %>
    <header>
      <div class="text-blue-50">
        <div class="bg-blue-700">
          <div class="md:max-w-[1024px] w-11/12 mx-auto">
            <div class="md:h-[38rem] h-auto grid">
              <div class="grid place-content-center py-20">
                <div class="w-full grid md:grid-cols-2 gap-3 items-center text-center md:text-start">
                  <div class="space-y-3">
                    <h1 class="font-semibold md:text-4xl text-3xl text-blue-50">
                      BjnAPI - Your Personal Web Scrapping Tool
                    </h1>
                    <p class="font-light">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor saepe sed voluptatum enim maiores
                      a, tempora, iure sequi autem esse unde totam, veritatis rerum accusantium aliquam
                    </p>
                  </div>
                  <div id="hero-img">
                    <img
                      src="/images/others/hero-img.png"
                      alt="Hero Image"
                      class="mx-auto md:w-auto md:h-auto h-[320px] w-[320px] aspect-square"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div>
        <div class="md:max-w-[1024px] w-11/12 mx-auto my-20">
          <div class="grid grid-cols-3 items-center gap-6">
            <div class="mx-auto shadow-2xl rounded-lg p-4 max-w-xl">
              <div>
                <div class="text-center">
                  <i class="ri-rocket-2-line ri-4x text-purple-800"></i>
                </div>
                <div class="text-center space-y-2">
                  <h3 class="font-semibold capitalize text-2xl">Contact Modal</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ex!</p>

                  <div>
                    <a
                      href="/modal/"
                      class="bg-purple-800 hover:bg-purple-700 rounded-md transition px-5 py-2 border-2 border-purple-500 text-purple-50 mt-10"
                    >
                      Description
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mx-auto shadow-2xl rounded-lg p-4 max-w-xl">
              <div>
                <div class="text-center">
                  <i class="ri-24-hours-line ri-4x text-red-700"></i>
                </div>
                <div class="text-center space-y-2">
                  <h3 class="font-semibold capitalize text-2xl">Available 24/7</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ex!</p>

                  <button
                    class="bg-red-700 hover:bg-red-500 rounded-md transition px-5 py-2 border-2 border-red-300 text-red-50"
                  >
                    Check Post
                  </button>
                </div>
              </div>
            </div>
            <div class="mx-auto shadow-2xl rounded-lg p-4 max-w-xl">
              <div>
                <div class="text-center">
                  <i class="ri-shopping-basket-line ri-4x text-cyan-800"></i>
                </div>
                <div class="text-center space-y-2">
                  <h3 class="font-semibold capitalize text-2xl">Affordable</h3>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ex! adipisicing elit.
                    Doloribus, ex!adipisicing elit. Doloribus, ex!
                  </p>

                  <button
                    class="bg-cyan-800 hover:bg-cyan-700 rounded-md transition px-5 py-2 border-2 border-cyan-500 text-cyan-50"
                  >
                    Open Menu
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[60rem]"></div>
    </main>
  </body>
</html>
