<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('includes/general_links') %>
    <title>Home</title>
  </head>
  <body>
    <div class="md:max-w-[1024px] w-11/12 mx-auto"><%- include('includes/navbar') %></div>
    <main>
      <h1>something</h1>
    </main>
  </body>
</html>
