<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('includes/general_links') %>
    <title>Home</title>
  </head>
  <body>
    <header>
      <div class="text-blue-50">
        <%- include('includes/navbar') %>
        <div class="bg-rose-700">
          <div class="md:max-w-[1024px] w-11/12 mx-auto">
            <div class="md:h-[32rem] sm:h-[28rem] h-[24rem] grid">
              <div class="grid place-content-center">
                <div class="w-full grid grid-cols-2 gap-3">
                  <div class="space-y-2">
                    <h1 class="font-semibold text-4xl text-rose-50">BjnAPI - Your Personal Web Scrapping Tool</h1>
                    <p class="font-light">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor saepe sed voluptatum enim maiores
                      a, tempora, iure sequi autem esse unde totam, veritatis rerum accusantium aliquam
                    </p>
                  </div>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="md:max-w-[1024px] w-11/12 mx-auto"><h1>something</h1></div>
      <div class="h-[60rem]"></div>
    </main>
  </body>
</html>
