#loader {
  border: 8px solid rgba(84, 84, 241, 0.469);
  border-top: 8px solid blue;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
